.card {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 24px 24px;
  overflow: hidden;
}
.title {
  padding: 0 auto;
  margin: 0 0 14px 0;
  font-size: 20px;
}
.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    display: inline;
    margin: auto 16px;
  }
}
.dateSelect {
  width: 160px;
}
.text,.date {
    margin-bottom: 14px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 24px 0;
}
.button {
  margin-left: 16px;
}

