/**
 * Created by chendanni on 16/10/19.
 */
@import '../total.scss';

.card {
  display: flex;
  width: 450px;
  flex-direction: column;
  padding: 24px 24px 24px 24px;
  margin-top: 40px;

  * {
    align-self: stretch;
  }
}
.header {
  display: flex;
  flex-direction: row;
  p {
    margin-left: 16px;
    display: inline;
  }
}