@import '../../total.scss';
.card{
  width: 250px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:16px;
  text-align: center;
  p {
    margin: 12px;
  }
}
.num {
  color: #8a6d3b;
  font-size: 30px;
}
