@import '../../components/total.scss';

body {
  //background-color: $lightGray;
  background-image: url("../../icons/back.png");
  background-size:100% 250%;
  background-repeat:no-repeat;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  //margin: 0 auto;
  //padding: 0 0 40px;
}
