@import '../../total.scss';
.card{
  margin-top: 16px;
  width: 250px;
  height: 184px;
}
.list{
  margin: 0 auto;
  text-align: center;
  * {
    color: $darkBlue;
    font-size: 18px;
    line-height: 26px;
  }
}
.link {
  display: inline;
  text-decoration: none;
}