$darkBrown:      #965200;
$lightBrown:     #C7801D;
$brightBrown:    #D18721;
$white:          #FFFFFF;
//$lightGray:      #9B9B9B;
$lightGray:      #fafafa;
$whiteGray:      #EBEBEB;
$gray:           #9B9B9B;

$bluegreen:  #00c8ff;
$middleBlue: #33a4d2;
$darkBlue: #3a3751;


body {
  background-color: black;
}