

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction:row;
  //justify-content: flex-start;
  width: 960px;
  flex-wrap: wrap;
}

.activities {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}