@import '../total.scss';
.card{
  width: 180px;
  height: 404px;
}
.list{
  margin: 0 auto;
  text-align: center;
  * {
    color: #965200;
  }
}
.info{
  display: flex;
  flex-direction: column;
}

.link {
  display: inline;
  text-decoration: none;
}
.public {
  background-color: #D18721;
  line-height:32px;
  margin:0;
}