.title {
  padding:16px 16px 0px 16px;
  * {
    display: inline;
  }
  p {
    line-height: 30px;
  }

}

.author {
  font-size: 14px;
  padding: 0 16px;
  color: #9B9B9B;
}

.container{
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  padding-bottom: 16px;
}
.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin:0 auto;
  * {
    margin: 5px auto;
  }
}