
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}
.container {
  width: 682px;
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}