@import '../../total.scss';
.card{
  width: 250px;
  height: 394px;
}
.list{
  margin: 0 auto;
  text-align: center;
  * {
    color: $darkBlue;
    font-size: 18px;
    line-height: 26px;
  }
}

.link {
  display: inline;
  text-decoration: none;
}

.text {
  color: $gray;
}

.info {
  padding: 8px 16px 16px 16px;
}